table, th, td {
  border: 1px solid black;
  vertical-align: top;
}

table.titled tr:first-child td {
  background: #cccccc;
}

table.collapsible tr td:last-child {
  font-size: 0;
}

table.collapsible tr:first-child td:last-child {
  font-size: 100%;
}

table.collapsible tr.expanded td:last-child {
  font-size: 100%;
}

.inlineBlockWithMargin {
  display: inline-block;
  margin-right: 1em;
}

.inlineBlock {
  display: inline-block;
}

.limitTdWidth td {
  max-width: 50em;
  word-wrap: break-word;
}
