table, th, td {
  border: 1px solid black;
  vertical-align: top;
}

table.titled tr:first-child td {
  background: #cccccc;
}

table.collapsible tr td:last-child {
  font-size: 0;
}

table.collapsible tr:first-child td:last-child {
  font-size: 100%;
}

table.collapsible tr.expanded td:last-child {
  font-size: 100%;
}

input[type="number"] {
  width: 4em;
}

.inlineBlockWithMargin {
  display: inline-block;
  margin-right: 1em;
}

.inlineBlock {
  display: inline-block;
}

.limitTdWidth td {
  max-width: 60em;
  word-wrap: break-word;
}

.notice {
  background-color: lightgreen;
}

.warning {
  background-color: salmon;
}

#idClassification, #idClassificationRegEx {
  width: 20em;
}

.tabbed figure {
   display: block;
   margin-left: 0;
   border-bottom: 1px solid silver;
   clear: both;
}

.tabbed > input,
.tabbed figure > div {
  display: none;
}

.tabbed figure>div {
  padding: 20px;
  width: 100%;
  border: 1px solid silver;
  background: #fff;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  color: #444;
}

nav label {
   float: left;
   padding: 15px 15px;
   border-top: 1px solid silver;
   border-right: 1px solid silver;
   background: hsl(210,50%,50%);
   color: #eee;
}

nav label:nth-child(1) { border-left: 1px solid silver; }
nav label:hover { background: hsl(210,50%,40%); }
nav label:active { background: #ffffff; }

#idTabControl:checked ~ figure .tabControl,
#idTabLimits:checked ~ figure .tabLimits,
#idTabActivity:checked ~ figure .tabActivity,
#idTabSystem:checked ~ figure .tabSystem,
#idTabClassification:checked ~ figure .tabClassification {
  display: block;
}

#idTabControl:checked ~ nav label[for="tabControl"],
#idTabLimits:checked ~ nav label[for="tabLimits"],
#idTabActivity:checked ~ nav label[for="tabActivity"],
#idTabSystem:checked ~ nav label[for="tabSystem"],
#idTabClassification:checked ~ nav label[for="tabClasification"] {
  background: white;
  color: #111;
  position: relative;
  border-bottom: none;
}

#idTabControl:checked ~ nav label[for="tabControl"]:after,
#idTabLimits:checked ~ nav label[for="tabLimits"]:after,
#idTabActivity:checked ~ nav label[for="tabActivity"]:after,
#idTabSystem:checked ~ nav label[for="tabSystem"]:after,
#idTabClassification:checked ~ nav label[for="tabClassification"]:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  left: 0;
  bottom: -1px;
}
